In [1]:
# List_remove_append

input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[3] = 'SPARK'
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

## String to List Conversion

In [2]:
input_str = 'I love Data Science & Python'
input_str.split('&')

['I love Data Science ', ' Python']

## List to string Converion

In [3]:
list_new = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
new_str = " & ".join(str(x) for x in list_new)
new_str

'Pythons syntax is easy to learn & Pythons syntax is very clear'

## Nested List

In [4]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

## It's the time to disco

In [6]:
t = ("disco", 12, 4.5)
t[0][2]
#Output: 's'

's'

## String Palindrome

In [13]:
sentence_inp = input()
inp_list = sentence_inp.split()
opt_list = inp_list[::-1]
if inp_list == opt_list:
    print(1)
else:
    print(0)

does this work as expected
0

## String Formatting

In [20]:
inp1 = input()
low1 = inp1.lower()
convert1 = low1.split()
output1 = "_".join(str(x) for x in convert1)
output1

datascience

'datascience'

## Multiple choice questions

In [30]:
S = "I love Python"
S[2:6]
S[-11:-7]

# a,d

'love'

In [31]:
3*3**3

# c

81

In [32]:
((500//7) % 5) ** 3

# a

1

In [34]:
T = (3, 5, 7, 11)
T.append(9)

# d

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
l = [32,34,12,27,33]
l.append((14, 19))
print(len(l))

# b

6

In [37]:
## Python sets: d

In [38]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}

for val in D:
    print(val)
    
# a

1
2
3

In [39]:
## Comprehension equivalent d

In [43]:
print(list(range(10, 1,-1)))

# d

[10, 9, 8, 7, 6, 5, 4, 3, 2]